/* footer basic styling */

footer {
    position: relative;
}

.site-footer {
    letter-spacing: 0.1em;
}

footer p {
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: rgba(130, 161, 143, 1);
    letter-spacing: 0.1em;
    font-size: 100%;
    margin-top: 110px;
}