.canvas {
    max-width: 900px;
    height: 500px;
    background: hsl(60, 20%, 80%);
    margin: 0 auto;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}