* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 1px;
}

html,
body {
    background: rgba(255, 204, 152, 1);
}

canvas {
    padding-top: 1vh;
    margin: -82px auto -155px;
    display: block;
    background-size: 900 500;
    background-position: center center fixed;
    z-index: 0;
    background: rgba(239, 192, 112, 1);
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}